/*ไฟล์ CSS ใช้ตกแต่งแต่ละส่วน*/
/* อยากให้มีเอฟเฟกต์เวลาเอาเมาส์ไปชี้ในตัวข้อความหรือกระเปาะทุกอันที่มีการเชื่อมลิ้งก์ไปที่อื่น */


/* คำสั่งก้อนนี้สำหรับฟ้อน Anuphan ทั้งก้อน*/
* {
  font-family: "Anuphan", sans-serif !important; /*bootstab มันแรงเลยต้องมีcodeนี้ ถ้าไม่มีฟ้อนจะไม่ขึ้น*/
}
ิbody {
  font-family: "Anuphan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* เลือกความหนาที่ต้องการ (100-700) */
  font-style: normal;
}


/*footer อันนี้อย่าแก้*/
.footer {
    background-color: #1a1d20; /* bg สีดำ*/
    color: white;              /* ตัวหนังสือสีขาว */
    text-align: center;        /* จัดข้อความให้อยู่ตรงกลาง */
    padding: 40px 20px;        /* เพิ่มพื้นที่ว่าง บน-ล่าง และ ซ้าย-ขวา */
}

.footer p {
    margin-bottom: 10px;       /* เว้นระยะห่างระหว่างบรรทัด */
    font-size: 14px;           /* ปรับขนาดตัวอักษรตามใจชอบ */
    opacity: 0.9;              /* ให้ดูจางลงนิดนึงเพื่อให้ดูนวลตา */
}
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://png.pngtree.com/thumb_back/fh260/background/20240920/pngtree-large-trees-and-lush-greenery-abound-in-this-lovely-forest-enchanted-image_16235419.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    position: relative;
    color: black;
}
.navbar{
    display: flex;
    padding: 30px;
}
.img-thumbnail{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.nav-link-custom{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.Menu{
    text-align: center;
    padding: 20px;
    margin: 10px;
    width: 120px;
    border-radius: 10px;
    transition: 0.3s;
}